
/* General body styling */
body {
    font-family: Arial, sans-serif; /* Sets the font style */
    font-size: 8px; /* Μικραίνει το βασικό μέγεθος γραμματοσειράς */
    margin: 0;
    padding: 0;/
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-color: white !important;
}


/* Μείωση γραμματοσειράς σε όλα τα headers */




/* Styling the top panel */
.top-panel {
    background-color: #3399ff;
    width: 100%;
    text-align: center;
    padding: 12% 0; /* Χρησιμοποιούμε ποσοστά για προσαρμογή */
}

.top-left-image {
    position: absolute; /* Positions the image relative to the body */
    top: 2%;
    left: 32%;
}


/* Μέγεθος του λογοτύπου */
.top-panel img {
    width: 40%; /* Adjust size of the logo */
    height: 7%; */
}

/* Navigation panel κάτω από το logo */
.top-panel2 {
    background-color: #03fc98;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 10px 0; /* Δίνει χώρο στο navigation */
}

.top-panel2 a {
    text-decoration: none;
    margin: 2%;
    font-size: 95%;
    color: #003399;
    font-weight: bold;
}

/* Hover effect for links in the top panel */
.top-panel a:hover {
    text-decoration: underline;
}

/* Styling for main content headers */
.content h1 {
    color: #003399; /* Header color */
    text-align: center;
    font-size: 140%
}

.content h2 {
    text-align: center;
    color: black;
    font-size: 100%
}

/* Box container for flexible layout */
.box-container {
    display: flex;
    gap: 2%;
    margin-bottom: 2%;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: center;
}

/* Styling for info and deals boxes */
.info-box, .deals-box {
    width: 55%; /* Responsive width */
    max-width: 55%;
    min-height: 10%;
    background-color: rgba(153, 204, 255, 0.7);
    border-radius: 10%;
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

/* Styling for headers inside boxes */
.info-box h2, .deals-box h2 {
    font-size: 1em; /* Μικρότερο font */
    color: #003399;
    margin-bottom: 4%;
    margin-top: 4%;
}

/* Styling for paragraphs inside boxes */
.info-box p, .deals-box p {
    font-size: 1em; /* Μικρότερο font */
    color: #555;
}

.info-box .image, .deals-box .image, .extra-box .image {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

/* Image Container */
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

.image-container .image {
    max-width: 100%;
    height: auto;
    max-height: 200px;
}


/* Content padding */
.content {
    padding: 2%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: white !important;
    }
}

