/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('back1.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f0f0f0;
}

/* Positioning the top-left image (logo) */
.top-left-image {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 300px;
    height: auto;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .top-left-image {
        width: 150px; /* Μειώθηκε το μέγεθος του logo */
        height: auto;
    }

    .top-panel {
        padding: 20px;
    }

    .top-panel a {
        font-size: 20px;
        margin: 0 10px;
    }

    .box-container {
        flex-direction: column;
        align-items: center;
    }

    .info-box, .deals-box {
        width: 90%;
        min-height: auto;
        padding: 15px;
    }

    .content h1 {
        font-size: 24px;
    }

    .content h2 {
        font-size: 22px;
    }

    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container .image {
        max-width: 90%;
        max-height: 150px;
    }

    .extra-box {
        width: 90%;
    }
}
